.card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card-wrapper {
    width: 250px;
    border: 1px solid teal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

img {
    object-fit: cover;
}

.groups-users-btn {
    display: flex;
    justify-content: space-between;
}

.groups-users-card {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 40px;
}

.delete-btn-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.delete-btn {
    height: 70%;
}
